<section class="w-390 h-[434px] bg-green-950">
    <div class="text-center text-white text-xl font-bold">MedPlus Online</div>
    <div class="w-[213px] h-[34px] text-white  text-center text-xs font-normal">Para receber nossas mais recentes dicas de saude,
        assine abaixo.</div>
    <div class="text-white text-xs font-normal">Email</div>
    <div class="w-[227.04px] h-[0px] border border-white"></div>
    <div class="w-[92px] h-6 bg-lime-400 rounded-[20px]"></div>

    <div class="w-[357px] h-[172px] bg-green-950">
        <div class="text-white text-base font-semibold flex">Redes Sociais</div>
        <div class="text-white text-sm font-normal underline block">Facebook<br />Twitter<br />LinkedIn<br />Instagram</div>
        <div class="text-white text-base font-semibold flex">Contacto</div>
        <div class="text-white text-sm font-normal">+258 84 883 9501<br />info@medplus.com</div>

        <div class="w-[49px] h-[49px] opacity-50 bg-lime-400  fixed rounded-full">
            <div class="w-8 h-8 relative"></div>
        </div>

        <div class="w-[326px] h-[29px]">
            <span class="text-white text-xs font-normal">© 2023. Medplus
                Online<br />Orgulhosamente criado por </span><span class="text-white text-xs font-semibold">Código de
                Emergência</span>
            </div>
    </div>

</section>