<section class="w-screen h-[350px] bg-green-950">
    <div class="text-center text-white text-xl font-bold">MedPlus Online</div>

    <div class="w-[213px] h-[34px] text-white  text-center text-xs font-normal">Para receber nossas mais recentes dicas
        de saude,
        assine abaixo.</div>
    <div class="flex justify-between">

        <div class="text-white text-xs mb-4 font-normal">Email
            <p class="w-[227.04px] h-[0px] mt-2 border border-white"></p>
        </div>

        <button class="w-[92px] h-6 mr-2 bg-lime-400 rounded-[20px]  text-green-950 text-sm font-semibold">Enviar
        </button>
    </div>

    <div class=" h-[172px] bg-green-950">
        <div class="flex justify-between m-4">
            <div>
                <div class="text-white text-base font-semibold flex">Redes Sociais</div>
                <p class="text-white text-sm font-normal underline block">Facebook<br />Twitter<br />LinkedIn<br />Instagram
                </p>
            </div>
           
            <div>
                <div class="text-white text-base font-semibold flex">Contacto</div>
                <p class="text-white text-sm font-normal">+258 84 883 9501<br />info@medplus.com</p>
                </div>

        </div>
        <div class="w-[49px] h-[49px] opacity-50 bg-lime-400  fixed rounded-full">
            <div class="w-8 h-8 relative"></div>
        </div>
        <div  class="p-5">
            <span class="text-white text-xs font-normal">© 2023. Medplus
                Online<br />Orgulhosamente criado por </span><span class="text-white text-xs font-semibold">Código de
                Emergência</span>
        </div>
    </div>

</section>