<div class="w-screen">
    <div id="header">
        <div class="h-[31px] bg-lime-400 pl-2">
            <h1 class="text-black text-base font-normal">Mãos lavadas salvam vidas - Lave as mãos!</h1>
        </div>
        <div class="flex justify-between p-4">
            <h1 class="text-green-950 text-2xl font-bold">MedPlus Online</h1>
            <span id="menu"><i class="fa-solid fa-bars fa-2x"></i></span>
        </div>
    </div>
    <nav  class="h-screen w-full bg-zinc-300">   
        <div class="flex justify-between p-4 ">
            <section  class="flex justify-evenly gap-2 ml-2">
                <span><i class="fa-regular fa-user"></i></span>
            <div class="text-black text-base font-medium">Entrar</div>
            </section>
            <section>
                <span id="ocultar-menu" class="mr-2"> <i class="fa-solid fa-x fa-1x"></i></span>
            </section>
        </div>
        <section class="flex flex-col gap-3 m-4 p-4">
            <div class="flex flex-col gap-1 text-center">
                <a class="text-green-950 text-2xl font-semibold mt-4">Como Funciona</a>
                <a class="text-green-950 text-2xl font-semibold mt-4">Agende uma Consulta</a>
                <a  class="text-green-950 text-2xl font-semibold mt-4">Unidades Sanitarias Próximas</a>
                <a class="text-green-950 text-2xl font-semibold mt-4">Acompanhamento Médico </a>
                <a class="text-green-950 text-2xl font-semibold mt-4">Denunciar</a>
                <a class="text-green-950 text-2xl font-semibold mt-4">Dicas de Saude</a>
                <a class="text-green-950 text-2xl font-semibold mt-4">Dúvidas</a>
                <a class="text-green-950 text-2xl font-semibold mb-6">Planos e Preços </a>
            </div>
            <div class="flex flex-col gap-1">
                <a class="text-white text-xl text-center mx-auto justify-center font-semibold px-4 py-2 w-[259px] h-[45px] bg-green-950 rounded-[20px] mb-6">Fale Connosco</a>
                <a class="text-white text-xl text-center mx-auto font-semibold w-[259px] h-[45px] px-4 py-2 bg-red-600 rounded-[20px] ">Emergência</a>
            </div>  
        </section>
    </nav>
</div>

<script>
    //Codigo para a interactividade do menu

$("#menu").show();
$("#ocultar-menu").hide();
$("nav").hide();


$("#menu").click(function(){
 $('#header').hide();
$("#ocultar-menu").toggle();

 $("nav").animate({
       marginTop:'0'
    }, 1000, function() {
        $("nav").show(1000);
    });
});
$("#ocultar-menu").click(function(){
    $('#header').show();
$("#ocultar-menu").toggle();

$("nav").hide();
});
</script>