<div class="w-screen">
    <div class="h-[31px] bg-lime-400 pl-2">
        <h1 class="text-black text-base font-normal">Mãos lavadas salvam vidas - Lave as mãos!</h1>
    </div>
    <div class="flex justify-between p-4">
        <h1 class="text-green-950 text-2xl font-bold">MedPlus Online</h1>
        <span id="menu"><i class="fa-solid fa-bars fa-2x"></i></span>
    </div>
    <nav  class="h-fit w-full bg-red-800">   
        <div class="flex justify-between border border-black ">
            <section  class="flex justify-evenly gap-2">
                <span><i class="fa-regular fa-user"></i></span>
            <div class="text-black text-base font-medium">Entrar</div>
            </section>
            <section>
                <span id="ocultar-menu"> <i class="fa-solid fa-x"></i></span>
            </section>
        </div>
        <section class="">
            <h1 class="text-green-950 text-2xl font-semibold">Como Funciona</h1>
        </section>
    </nav>
</div>